<div class="product-reviews">
	<% @comments.each do |comment| %>
		<div class="row">
			<hr>
			<p><%= comment.user.first_name %>  <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
			<div class="review-rating rating" data-score="<%= comment.rating %>"></div>
			<p><%= "Rating: #{comment.rating}/5" %></p>
			<p><%= comment.body %></p>
		</div>
	<% end %>
</div>