<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-4"><%= image_tag @product.image_url %></div>

	<div class="col-md-4">
		<p>
		  <h4><%= @product.name %></h4>
		</p>

		<p>
		  <%= @product.description %>
		</p>

		<p>
		  <strong>Color:</strong> <%= @product.color %>
		</p>
	</div>

</div>

<%= render 'new_comment' %>

<%= render 'comments' %>