<!DOCTYPE html>
<html>
<head>
  <title>CfShop</title>  
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
	
	<nav class="main-nav">
		
		<%= link_to "Products", products_path %>
	  <%= form_tag("/products", method: "get") do %>
		  <%= label_tag(:q, "Search:") %>
		  <%= text_field_tag(:q) %>
		  <%= submit_tag("Search") %>
		<% end %>

		<!-- Devise actions -->
		<% if user_signed_in? %>
		  <li>
		  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
		  </li>
		<% else %>
		  <li>
		  <%= link_to('Login', new_user_session_path)  %>  
		  </li>
		<% end %>

	</nav>

<%= yield %>
</div>
</body>
</html>
