<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<div class="container">

<%= render 'layouts/nav' %>

<div class="flash-notices">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<%= yield %>
</div>
</body>
</html>
